{
  rules: {
    eqeqeq: 2,
    "no-var": 2,
  },
  env: {
    es6: true,
    node: true,
  },
  ecmaFeatures: {
    modules: true,
  },
  parserOptions: {
    sourceType: "module",
    ecmaFeatures: {
      experimentalObjectRestSpread: true,
    },
  },
}
